@model List<MeetingRoom.Models.Domain.ReportDetailsDb>


<header class="masthead" style="background-image: url('/img/header-bg.jpg');">

    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Welcome</span></div>
            <div class="intro-heading text-uppercase"><span>View Reports<br></span></div>
        </div>
    </div>
</header>


<section class="bg-light" id="portfolio">
    
    <div class="container py-4 py-xl-5">
        @if (@Model.Count != 0)
        {    <h1 class="text-center">View Meeting Room Reports</h1>

            <h1></h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                        <td><a id="name" href="/RoomStatus/SortData/name">Name</a></td>

                    <th>Booked on</th>
                    <th>Booked from</th>
                    <th>Booked To</th>
                    <th>Booked by</th>
                    <th>Status</th>

                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var room in Model)
                {
                    <tr>
                        <td>@room.RoomName</td>
                        <td>@room.BookedDateTime</td>
                        <td>@room.BookedFromDateTime</td>
                        <td>@room.BookedToDateTime</td>
                        <td>@room.BookedBy</td>
                        <td>@room.RoomStatus</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <h1>No Data To Display</h1>
        };

    </div>





</section>

